.leftsidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftsidebarWrapper {
  padding: 20px;
}

.leftsidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftsidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftsidebarIcon {
  margin-right: 15px;
}

.leftsidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.leftsidebarHr {
  margin: 20px 0;
}

.leftsidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
